.artery-simulator-root {
  position: relative;
  overflow: auto;

  outline: 1px dashed cadetblue;

  * {
    box-sizing: border-box;
  }

  .simulator-background {
    * {
      pointer-events: none;
    }
    // position: absolute;
    // overflow: auto;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;

    // outline: 1px dashed cadetblue;
  }
}

.green-zone-indicator {
  position: absolute;
  top: 0;
  will-change: width, height, transform;

  &:not(.green-zone-indicator--root) {
    background-color: #0080005c;
  }
}

// TODO Support all position
// top
// right
// bottom
// left
// inner
// inner-top
// inner-right
// inner-bottom
// inner-left
$indictorColor: green;

.green-zone-indicator--left {
  box-shadow: -8px 0 0 0px $indictorColor;
}

.green-zone-indicator--right {
  box-shadow: 8px 0 0 0px $indictorColor;
}

.green-zone-indicator--inner-left {
  box-shadow: inset 8px 0 0 0px $indictorColor;
}

.green-zone-indicator--inner-right {
  box-shadow: inset -8px 0 0 0px $indictorColor;
}
